
h3 {
	text-align: center;	
}

#dishName {
	width: 50%;
}

.dishItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menulist {
	font-weight: bold;
}

.orderItem {
	display: flex;
	justify-content: space-between;
/*	align-items: center;*/
	width: 80%;
/*/*	direction: ltr;
*/	text-align: justify;*/

}
/*
@media all and (min-width: 960px) {

	h3 {
		display: none;
	}
}*/